@import 'tailwindcss';

@theme {
  /* Colors */
  --color-text: #1B0917;
  --color-background: #FBF4F9;
  --color-background2: #FFFFFF;
  --color-primary: #EE7CCA;
  --color-secondary: #D99295;
  --color-accent: #CF8977;
  --color-gradient: linear-gradient(90deg, #EE7CCA 0%, #CF8977 100%);

  /* Fonts */
  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-press-start: 'Press Start 2P', 'Press Start 2P Fallback'; 

  /* Text Sizes */
  --text-base: 1rem;
  --text-sm: 0.75rem;
  --text-xl: 4.21rem;
  --text-2xl: 3.16rem;
  --text-3xl: 2.37rem;
  --text-4xl: 1.78rem;
  --text-5xl: 1.33rem;  
}

@theme inline {
  --bg-gradient: linear-gradient(90deg, var(--color-primary) 0%, var(--color-accent) 100%);
}
