@import 'tailwindcss';

@theme {
  /* Colors */
  --color-background: #000000;
  --color-primary: #FFFFFF;
  --color-text: #FFFFFF;
  --color-text2: #000000;
  --color-accent: #8D8D8F;
  --color-alert: oklch(70.4% 0.191 22.216);

  /* Fonts */
  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-press-start: 'Press Start 2P', 'Press Start 2P Fallback'; 

  /* Text Sizes */
  --text-base: 1rem;
  --text-sm: 0.75rem;
  --text-xl: 4.21rem;
  --text-2xl: 3.16rem;
  --text-3xl: 2.37rem;
  --text-4xl: 1.78rem;
  --text-5xl: 1.33rem;  

  /* Border radii */
  --radius-5xl: 3rem;

  /* Constant Sizes */
  --spacing-cover-height: calc(352px * 0.8);
  --spacing-cover-width: calc(264px * 0.8);

  /* Animations */
  --animate-slide-in-right: slideInFromRight 1s ease-in-out forwards;
  --animate-fade-in: fadeIn 1s ease-in-out forwards;

  @keyframes slideInFromRight {
    from {
      transform: translateX(1000px);
    }
    to {
      transform: translateX(0px);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@theme inline {
  --shadow-button: 7px 7px 1px 7px var(--color-accent);
  --shadow-icon-button: 3px 2px 1px 1px var(--tw-shadow-color, var(--color-accent));
  --shadow-icon-button-alert: 3px 2px 1px 1px var(--tw-shadow-color, var(--color-alert));
}

.lucide {
  background-color: var(--color-primary);
  border-radius: var(--radius-3xl);
}


