.swiper {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  animation: var(--animate-slide-in-right);
  max-width: 1800px;
}

.swiper-slide {
  width: var(--spacing-cover-width);
  height: var(--spacing-cover-height);
  border-radius: var(--radius-2xl);
}
