.front {
  transform: translateZ(100px);
  background: red;
}

.back {
  transform: rotateX(-180deg) translateZ(-36px) ;
  background: blue;
}

.left {
  transform: rotateY(-90deg) translateZ(32px) translateX(68px);
  background: green;
}

.right {
  transform: rotateY(90deg) translateZ(232px) translateX(-68px);
  background: yellow;
}

.cube {
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}