.front {
  transform: translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(16px) translateX(84px);
}

.right {
  transform: rotateY(90deg) translateZ(195px) translateX(-86px);
}

.cube {
  transition: all 0.3s ease-in-out;
}

.activeCover {
  box-shadow: var(--color-primary) 0px 0px 16px 16px;
}